#wysiwyg {
    margin: 30px 25px;

    h1 {
        position: relative;
        z-index: 100;
        margin: -30px 0 30px -25px;
        padding: 13px 13px 13px 35px;
        width: 80%;
        font-family: 'Din Condensed Medium', Arial, Helvetica, sans-serif;
        color: white;
        font-size: 30px;
        line-height: 100%;
        font-weight: normal;
        background: #837167;
        box-shadow: 0px 0px 10px hsla(0, 1%, 0%, 0.3);

        a {
            color: white;
            text-decoration: none;
        }

        @media only screen and (max-width: 549px) {
            font-size: 25px;
            margin: -30px 0 25px -30px;
            padding: 8px 13px 8px 20px;
        }
    }

    h2 {
        margin: 35px 0 5px 0;
        color: white;
        font-family: 'Din Condensed Medium', Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 100%;
        font-weight: normal;
    }

    h3 {
        margin: 25px 0 5px 0;
        color: #d0c1b8;
        font-family: 'Din Condensed Medium', Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 100%;
        font-weight: normal;
    }

    strong {
        color: #c5beb9;
    }

    a {
        color: #BC652E;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .alignnone {
        margin: 5px 20px 20px 0;
    }

    .aligncenter,
    div.aligncenter {
        display: block;
        margin: 5px auto 5px auto;
    }

    .alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }

    .alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }

    a img.alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }

    a img.alignnone {
        margin: 5px 20px 20px 0;
    }

    a img.alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }

    a img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .wp-caption {
        background: #fff;
        border: 1px solid #f0f0f0;
        max-width: 96%;
        padding: 5px 3px 10px;
        text-align: center;
    }

    .wp-caption.alignnone {
        margin: 5px 20px 20px 0;
    }

    .wp-caption.alignleft {
        margin: 5px 20px 20px 0;
    }

    .wp-caption.alignright {
        margin: 5px 0 20px 20px;
    }

    .wp-caption img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }

    .wp-caption p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }

    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
        max-width: 100%;
        height: auto;
    }
}